<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow mx-5 my-5">
  <div class="px-4 py-5 sm:px-6">
    <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
      <div class="ml-4 mt-2">
        <h3 class="text-xl font-semibold leading-6 text-stone-900">Witze-Generator</h3>
      </div>
    </div>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <app-joke-form></app-joke-form>
  </div>
  <div class="px-4 py-5 sm:p-6 text-xl text-stone-900">
    <app-joke-output></app-joke-output>
  </div>
</div>
